
.background-div{
    background-image: url(../assets/searchBackground.jpg);
    height: 100%;
    background-position: 0%;
    filter: blur(3px);
    opacity: 20%;
    z-index: -1;
}



.search-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: none;
    color: #fff;
}

.search-container h3{
    font-size: 40px;
    margin-bottom: 20px;

}

a{
    text-decoration: none;
}

.input-container{
    height: 50px;
    width: 200px;
    border-radius: 999px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container i {
    color: black;
    font-size: 25px;
    padding-right: 10px;
}

.input-container input{
    width: 140px;
    font-weight: 20px;
    font-family: Aktifo-B;
    font-size: 20px;
    background-color: transparent;
    border: none;


}

.input-container input:focus{
    outline: none;

}

.movies-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.movie-list-item{
    height: 150px;
    width: 300px;

    background-color: black;
    box-shadow: 0 0 6px rgba(0, 0, 0, .8);

    margin: 10px;
    text-align: center;
    background-size: 100%;
    background-position: center;
    border-radius: 20px;
    transition: background-size .5s ease-in-out;
}


.movie-list-item:hover{
    background-size: 120%;

}
.text-movie-list-item{
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}