
.movie-container{

    background-size: 100%;
    color: #fff;
    overflow: hidden;
}

.search-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-size: 40px;
    background-color: #000;
    border-radius: 999px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.search-icon:hover{
    color: #000;
    background-color: #fff;
}

.main-container{
    pointer-events: none;
    display: block;
    background: linear-gradient(90deg, rgba(2,0,36,0) 20%, rgba(0,0,0,0.7) 35%);
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position 1s;
}
.main-container:hover {
    background-position: 100% 0%;
}


.tagline-container{
    position: relative;
    left: -600px;
    font-size: 35px;
    grid-column: 1;
    grid-row: 2;
    /**/
    transition: .5s;
    opacity: 0;
}

.info-container:hover + .tagline-container{
    opacity: 1;
    left: -0px;

}
.tagline-container:hover{
    left: 0px;
}

.tagline-container h4{
    position: absolute;
    bottom: 50px;
    padding-left: 20px;
}

.upper-container{
    height: 91vh;
    width: 100%;
    /**/
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-rows: 300px auto;
    padding: 0 60px;
    box-sizing: border-box;
    
}


.title{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    pointer-events: auto;
    grid-column: 1 / 3;
    padding-left: 40%;

}

.title h3{
    text-align: right;
}

.info-container{
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: 50px auto 50px auto;
    pointer-events: auto;
    grid-column: 2;

}


/* .info-container > div{
    padding: 20px;
} */


.year-genders{
    grid-column: 1 / 3;
    margin: auto 0;
    text-align: right;
    white-space: pre-wrap;

}


.story-title{
    grid-column: 1;

}
.story-title h4, .directing-title h4{
    margin-top: 13px;
}

.story{
    grid-column: 2;
}
.directing-title{
    grid-column: 1;
}

.director{
    grid-column: 2;
}

.directing-title h4, .story-title h4{
    text-align: center;
}

.director, .directing-title{
    position: relative;
}


/* ! Multimedia */

.multimedia-container{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
    margin: 0;
    
}


.trailer-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.poster{
    margin-right: 50px;
}
.poster-img{
    height: 200px;
}

.trailer-text {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    color: #000;
    height: 40px;
    border-radius: 999px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}
.trailer-text:hover{
    background-color: rgba(255, 255, 255, 1);
}


.trailer-text span{
    margin-right: 10px;
    line-height: 20px;
}

.trailerBackArrow{
    cursor: pointer;
}



.opacityOut{
    opacity: 0;
    transition: .5s;
}


.main-container > footer{
    height: 9vh;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.6) 60%);
    pointer-events: auto;

    }



