
.background-div{
    background-image: url(../assets/searchBackground.jpg);
    height: 100vh;
    background-position: 0%;
    filter: blur(3px);
    opacity: 20%;
    z-index: -1;

}

.search-page-container{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: none;
    color: #fff;
}

.search-head{
    padding: 30px;
    z-index: 10;
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 70%, rgba(0,255,0,0) 100%);
}

.search-h3{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;}





/* Input */

a{
    text-decoration: none;
}

.input-container{
    height: 50px;
    width: 300px;
    border-radius: 999px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.input-container input{
    width: 200px;
    font-weight: 20px;
    font-family: Aktifo-B;
    font-size: 20px;
    background-color: transparent;
    border: none;
    height: 50px;


}

.search-icon-searchpage, .x-icon-searchpage{
    height: 100%;
    color: #000;
    background-color: none;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.x-icon-searchpage i{
    cursor: pointer;

}

.search-icon-searchpage i, .x-icon-searchpage i {
    margin: auto;

}
.input-container input:focus{
    outline: none;

}

/* Movie List */

.movies-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.movie-list-item{
    background-position: center;
    background-size: 100%;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .8);
    height: 150px;
    margin: 10px;
    text-align: center;
    transition: background-size .5s ease-in-out;
    width: 300px;
    display: flex;
    align-items: center;
}


.movie-list-item:hover{
    background-size: 120%;

}
.text-movie-list-item{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.6) 90%, rgba(255,255,255,0) 100%);    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

}

.movie-grid-year{
    color: rgb(210, 210, 210);
}

.cero-results{
    font-family: Aktifo-B;
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    width: calc(100% - 20px);
}

@media only screen and (max-width: 1656px) {
    .search-page-container{
        height: auto;
        overflow: visible;
    }
}

@media only screen and (max-width: 400px) {
    .input-container{
        width: 100%;
        margin: 0;
    }

    .search-icon-searchpage, .x-icon-searchpage{
        width: 20%;
    }
    .input-container form{
        width: 60%;
    }
}