body{
    overflow: hidden;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    
}
.main-container{
    pointer-events: none;
    
    background: linear-gradient(90deg, rgba(2,0,36,0) 20%, rgba(0,0,0,0.7) 35%);
    background-size: 200% 100%;
    background-position: 0% 0;
    transition: background-position 1s;
}


.main-container:hover {
    background-position: 100% 0%;

}


.upper-container{
    height: 91vh;
    display: flex;
    display: grid;
    grid-template-rows: 250px auto;
    grid-template-columns: auto 600px;
    padding: 0px 30px;
}

.tagline-container{
    flex-grow: 7;
    font-size: 35px;
    position: relative;
    grid-row: 2;
    grid-column: 1;

}

.tagline-container p{
    position: relative;
    bottom: 0;
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    
}


.info-container{
    width: 600px;
    margin-right: 30px;
    grid-row: 2;
    grid-column: 2;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: 50px auto 50px auto;
    pointer-events: auto;


}

.info-container > div{
    padding: 20px;
}



.title{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 20px;
    grid-row: 1;
    grid-column: 1 / 3;
    padding-left: 50%;
    pointer-events: auto;

}

.year-genders{
    grid-column: 1 / 3;
    text-align: right;
    white-space: pre-wrap;


}
.story-title{
    grid-column: 1;
}
.story{
    grid-column: 2;
    
}
.directing-title{
    grid-column: 1;
}
.directing{
    grid-column: 2;
}
.poster-container{
    grid-column: 2;
    position: relative
}



.poster-img{
    position: relative;
    height: 200px;
}

.main-container > footer{
    height: 9vh;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.6) 60%);
    pointer-events: auto;

    }



