.trailer-container{

    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%);
    transition: transform .2s ease-in-out;
    z-index: 999;
}

.show-trailer{
    transform: translate(0%);

}

iframe{
    width: 80vw ;
    height: 45vw;

}