
.movie-container{
    height: 100vh;
    background-size: 100%;
    color: #fff;
    overflow: hidden;
}

.search-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-size: 40px;
    background-color: #000;
    border-radius: 999px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.search-icon:hover{
    color: #000;
    background-color: #fff;
}

.main-container{
    pointer-events: none;
    display: block;
    background: linear-gradient(90deg, rgba(2,0,36,0) 20%, rgba(0,0,0,0.7) 35%);
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position 1s;
}
.main-container:hover {
    background-position: 100% 0%;
}
.main-container:hover  .tagline-container{
    opacity: 1;
    left: 0px;

}

.tagline-container{
    position: relative;
    left: -600px;
    font-size: 35px;
    grid-column: 1;
    grid-row: 2;
    /**/
    transition: .5s;
    opacity: 0;
}

.tagline-container:hover{
    left: 0px;
}

.tagline-container h4{
    position: absolute;
    bottom: 50px;
    padding-left: 20px;
}

.upper-container{
    min-height: 91vh;
    width: 100%;
    /**/
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-rows: 300px auto;
    padding: 0 60px;
    box-sizing: border-box;
    
}


.title{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    pointer-events: auto;
    grid-column: 1 / 3;
    padding-left: 40%;

}

.title h3{
    text-align: right;
}

.info-container{
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: 50px auto 50px auto;
    pointer-events: auto;
    grid-column: 2;

}


/* .info-container > div{
    padding: 20px;
} */


.year-genders{
    grid-column: 1 / 3;
    margin: auto 0;
    text-align: right;
    white-space: pre-wrap;

}


.story-title{
    grid-column: 1;

}
.story-title h4, .directing-title h4{
    margin-top: 13px;
}

.story{
    grid-column: 2;
}
.directing-title{
    grid-column: 1;
}

.director{
    grid-column: 2;
}

.directing-title h4, .story-title h4{
    text-align: center;
}

.director, .directing-title{
    position: relative;
}


/* ! Multimedia */

.multimedia-container{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    margin: 0;
    
}


.trailer-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.poster-img{
    height: 200px;
}

.trailer-text {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    color: #000;
    height: 40px;
    border-radius: 999px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}
.trailer-text:hover{
    background-color: rgba(255, 255, 255, 1);
}


.trailer-text span{
    margin-right: 10px;
    line-height: 20px;
}

.trailerBackArrow{
    cursor: pointer;
}



.opacityOut{
    opacity: 0;
    transition: .5s;
}


.main-container > footer{
    height: 9vh;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.6) 60%);
    pointer-events: auto;

    }


@media only screen and (max-width: 1200px) {
    .tagline-container{
        display: none;
    }

    .search-icon{
        font-size: 50px;
        height: 80px;
        width: 80px;
    }

    .main-container{
        background: rgba(0,0,0,0.7);
        background-size: 100%;

    }

    .upper-container{
        grid-template-columns: auto;
        padding: 0 60px;
        
    }

    .upper-container{
        padding: 0 160px;
    }
    
    .title{
        padding-left: 0%;
        font-size: 40px;

    }

    .title h3{
        margin: 0;
    }

}

@media only screen and (max-width: 920px){
    .upper-container{
        padding: 0 80px;
    }
    .title{
        font-size: 30px;

    }

    .search-icon{
        font-size: 35px;
        height: 60px;
        width: 60px;
    }

    
}

@media only screen and (max-width: 780px){
    .upper-container{
        padding: 0 60px;
        grid-template-rows: auto auto;
    }
    .search-icon{
        font-size: 30px;
        height: 50px;
        width: 50px;
    }
    .multimedia-container{
        justify-content: space-evenly;
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .poster{
        display: none;
    }
    .info-container{
        grid-template-rows: 50px auto 50px auto;
        grid-template-columns: 30% 70%;
    }
    
    .multimedia-container{
        grid-column: 1 / 3;
        margin-top: 30px;
        width: 100%;
    }

    .upper-container{
        height: auto;
        padding: 0 30px;
        padding-top: 70px;
    }

    .directing-title h4, .story-title h4{
        text-align: left;
    }
    .footer{
        display: none;
    }

}


@media only screen and (max-width: 400px){


}


@media only screen and (max-width: 400px){

    .title{
        font-size: 30px;
    }


    .info-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);

    }

    .year-genders{
        grid-row: 1;
        grid-column: 1;
    }

    .story-title{
        grid-row: 2;
        grid-column: 1;
    }

    .story{
        grid-row: 3;
        grid-column: 1;
    }

    .directing-title{
        grid-row: 4;
        grid-column: 1;
    }

    .director{
        grid-row: 5;
        grid-column: 1;
    }


}