body{
    background-color: #111;
    font-family: Aktifo-B;
    padding: 0;
    margin: 0;


  }
  
@font-face {
  font-family: Aktifo-B-Black;
  src: url('./assets/fonts/Aktifo-B-Black');
}

@font-face {
  font-family: Aktifo-B-Bold;
  src: url('./assets/fonts/Aktifo-B-Bold');
}

